@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto+Slab:wght@400;600&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    word-spacing: 3px;
}

a {
    color: inherit;
    text-decoration: none;

    &:link, &:visited {
        transition: all 0.3s ease-in-out 0s;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

::selection {
    background-color: #ff9800;
    color: #FFF;
}

figure {
    padding: 0;
    margin: 0;
}

ul, ol {
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #111;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}

